<!DOCTYPE html>
<html>
  <head>
    <title>My personal blog</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>My personal blog</h1>
      </div>
      <div id="navigation">
       navigation
      </div>
      <div id="content-container">
        <div id="content">
          <%= yield %>
        </div>
        <div id="right-bar">
          right-bar
        </div>
        <div id="footer">
          Copyright © Taran Alexey
        </div>
      </div>
    </div>
  </body>
</html>
